@using System.Collections.Generic;
@{
  ViewBag.Title = "CodeStorm: Social DevOps";
  var profiles = ViewBag.Profiles as IEnumerable<Abc.Website.Models.UserPublicProfile>;
}
@Html.Partial("Home/_Hero")
<div class="band mt25 mb25 page-home">
  <div class="container">
    <div class="profiles-gallery">
      <ul>
        @if (null != profiles)
        {
          foreach (var profile in profiles)
          {

          <li class="span2">
            <div class="inner-item">
              <div>
                <a href="/DevOp/@profile.AbcHandle" title="@profile.UserName is CodeStorming!">
                  <img src="//gravatar.com/avatar/@profile.Gravatar?s=100" alt="@profile.UserName is CodeStorming!" class="img-circle">
                </a>
              </div>
              <a href="/DevOp/@profile.AbcHandle"><span class="label label-info">@profile.Word</span>
              </a>
              <div class="text">
                <span><a href="/DevOp/@profile.AbcHandle">@profile.UserName</a></span>
              </div>
            </div>
          </li>
          }
        }
        else
        {
          <li>No profiles found.</li>
        }
      </ul>
    </div>
  </div>
  <div class="band mt25 marketing-audience">
    <div class="container">
      <h3 class="mb25">We've built a social platform to help...</h3>
      <div class="row">
        <div class="span4">
          <img src="@Url.Content("~/content/images/codestorm/icons/icon-engineering.png")" />
          <h4>Developers</h4>
          <p>Connect with other developers and share information and achievements in real-time
            that's relevant based on the masteries and technologies you're interested in.</p>
        </div>
        <div class="span4">
          <img src="@Url.Content("~/content/images/codestorm/icons/icon-building.png")" />
          <h4>Companies</h4>
          <p>Easily find talented, driven software engineers in any particular technology including
            NodeJS, PHP, .NET, Java, Ruby on Rails, and Django.</p>
        </div>
        <div class="span4">
          <img src="@Url.Content("~/content/images/codestorm/icons/icon-student.png")" />
          <h4>Students</h4>
          <p>Find and follow mentors on the platform that can be your source of inspiration
            and creativity. Learn from the best and be the best to prepare yourself for the
            world of software engineering.</p>
        </div>
      </div>
    </div>
  </div>
</div>
