@using Abc.Website
@model Abc.Website.Models.UserProfile
@{
    ViewBag.Title = string.Format("{0}' Twitter Activity | ABC", Model.UserName);
}
<div class="section account-twitter">
    <div class="tiny x3 main">
        <h1 class="custom-widgets-title no-topad">
            My Twitter Activity</h1>
        @if (null != Model.Tweets)
        {
            <div class="section section-tweets">
                <ul>
                    @foreach (var tweet in Model.Tweets)
                    { 
                        <li>
                            <p>@tweet.Text | <span class="date">Tweeted on @tweet.CreatedAt.ToString("yyyy-MM-dd hh:mm:ss")</span></p>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
    <div class="tiny">
        @Html.Partial("_Profiles")
        <br />
        <br />
        <br />
        @Html.Partial("_Social")
        <br />
        @Html.Partial("_Events")
        <br />
        @Html.Partial("_tweets")
    </div>
</div>
