@using Abc.Website;
@{
  
  ViewBag.Title = "Making DevOps More Open and Connected | ABC";
  ViewBag.Keywords = "ABC, Cloud Computing, Windows Azure, Microsoft Cloud, DevOps, Software, Engineer, Amazing Insights, Amazing Insights Collector";
  ViewBag.Description = "Agile Business Solutions provides a suite of tools to help DevOps be more connected to their solutions, their teams, their toolsets, and their code.";
}
@if (!User.Identity.IsAuthenticated) { Layout = "~/Views/Shared/Layouts/_CorporateLayout.cshtml"; }
@if (!User.Identity.IsAuthenticated)
{
  
  @Html.Partial("_CorporateHero")
  
  <div class="content-container container">
    <section class="introduction row">
      <h1>We've built a suite of tools to help you</h1>
      <div class="span6">
        <div class="gutter">
          <h4>
            <img src="@Url.Content("~/content/images/products/logo-amazing-insights.png")" alt="Amazing Insights"/></h4>
          <p>Our application monitoring tools – Amazing Insights&trade; provides telemetry in real-time so you can quickly understand when you need to scale your application, and rapidly reduce debugging times.</p>
          <ul>
            <li>Integrate with our easy-to-use .NET library</li>
            <li>React to your application's needs with logs and visualizations</li>
            <li>Monitor multiple servers for uptime, CPU usage, and memory usage</li>
          </ul>
          <div class="cta-group">
            <a class="m-btn blue" href="/Home/AmazingInsights">Get Telemetry <i class="m-icon-swapright m-icon-white"></i></a>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="gutter">
          <h4>
            <img src="@Url.Content("~/content/images/products/logo-codestorm.png")" alt="CodeStorm"/></h4>
          <p>We're all about keeping DevOps connected to their tools, their teams, and their solutions. Sharing information in real-time enables DevOps quicker reaction times to problems as a business continues to acquire more users and roll out new features. </p>
          <ul>
            <li>Connect with other DevOps with the same mastery</li>
            <li>Share information and solutions in real-time</li>
            <li>Gain achievements by helping others and contributing to open source</li>
          </ul>
          <div class="cta-group">
            <a class="m-btn blue" href="//www.codestorm.in">Join The CodeStorm <i class="m-icon-swapright m-icon-white"></i></a>
          </div>
        </div>
      </div>
    </section>
    <hr />
    <section class="promos line">
      <ul class="promo-list line">
        <li class="unit size1of3">
          <div class="promo-wrapper">
            <img src="@Url.Content("~/content/images/logo-meetup.png")" />
            <div class="promo-content">
              <h3>Azure Meetups</h3>
              <p>We're helping Vancouver grow a Windows Azure community. Join up! It's free!</p>
              <a href="//www.meetup.com/VancouverAzure/" class="m-btn bigicn-only" target="_blank"><i class="m-icon-big-swapright"></i></a>
            </div>
          </div>
        </li>
        <li class="unit size1of3">
          <div class="promo-wrapper">
            <img src="//gravatar.com/avatar/ac7befa1d63ec6f073b44b095e440d71?s=90" />
            <div class="promo-content">
              <h3>Azure Canadian Community Experts</h3>
              <p>Our CEO is a Windows Azure expert helping with cloud initiatives in Canada!</p>
              <a href="/Blog/JefKing" class="m-btn bigicn-only" target="_blank"><i class="m-icon-big-swapright"></i></a>
            </div>
          </div>
        </li>
        <li class="unit size1of3 lastUnit">
          <div class="promo-wrapper">
            <img src="@Url.Content("~/content/images/logo-github.png")" />
            <div class="promo-content">
              <h3>A-Trak is Open Source</h3>
              <p>Sync between different clouds including Windows Azure, Amazon S3 and more!</p>
              <a href="//github.com/AgileBusinessCloud/A-Trak" class="m-btn bigicn-only" target="_blank"><i class="m-icon-big-swapright"></i></a>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>

}
else
{

  <div class="section home-page abc-content">
    <div class="tiny x3 main">
      <h1 class="custom-widgets-title no-topad">Social DevOps</h1>
      <div class="panel">
        <div class="title">
          <h4>Amazing Insights</h4>
          <div class="theme">
          </div>
          <div class="drop">
          </div>
        </div>
        <div class="content inpad">
          <p>Amazing Insights is a robust .NET library which allows you to quickly start logging to our centralized servers. You will have instant access to Performance Metrics, Exceptions and Messages.</p>
          <p>Quickly integrate and keep up to date using our NuGet package: </p>
          <div class="inpad">
            <code>
              <pre>PM> Install-Package Abc.Client.dll</pre>
            </code><a href="//www.nuget.org/packages/Abc.Client.dll" target="_blank" class="button-normal light-blue">On NuGet<span class="ui-icon ui-icon-extlink"></span></a>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="title">
          <h4>Amazing Insights Collector</h4>
          <div class="theme">
          </div>
          <div class="drop">
          </div>
        </div>
        <div class="content inpad">
          <p>When running servers within a cloud provider you are not always easily able to see the health of an individual server. Amazing Insights Collector gives you access to see CPU, Memory, Disk IO and Network IO usage in real-time. </p>
          <p>Quickly integrate into Windows Azure Web Role and Worker Role projects and keep up to date using our NuGet package: </p>
          <div class="inpad">
            <code>
              <pre>PM> Install-Package Abc.Client.Collector</pre>
            </code><a href="//cdn.agilebusinesscloud.com/download/Abc.Client.Collector.1.0.2.4.zip" class="button-normal light-green">Download<span class="ui-icon ui-icon-arrowthick-1-s"></span></a> <a href="https://www.nuget.org/packages/Abc.Client.Collector" target="_blank" class="button-normal light-blue">On NuGet<span class="ui-icon ui-icon-extlink"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="tiny">
      @Html.Partial("_Profiles")
      <br />
      <br />
      <br />
      @Html.Partial("_Social")
      <br />
      @Html.Partial("_Events")
    </div>
  </div>

}
