@model Abc.Website.Models.UserProfile
@{
  ViewBag.Title = "Edit My Profile";
  ViewBag.Description = "Edit";
  Layout = "~/Views/Shared/Layouts/_ProfileLayout.cshtml";
}
<div class="band mt25 mb100 codestorm-user-profile-view edit">
  <div class="container">
    <div class="row">
      <div class="span3">
        <a href="/DevOp/@Model.AbcHandle">
          <img src="http://www.gravatar.com/avatar/@Model.Gravatar?size=200" class="img-polaroid" /></a>

        <hr />

        <h3><a href="/DevOp/@Model.AbcHandle">@Model.UserName</a></h3>
        <h5><a href="/DevOp/@Model.AbcHandle">@Model.AbcHandle</a></h5>

        <hr />

        <p><i class="icon-envelope"></i>&nbsp;<a href="mailto:@Model.Email" title="Email @Model.UserName">@Model.Email</a></p>
        <p><i class="icon-share"></i>&nbsp;<a href="http://github.com/@Model.GitHubHandle" target="_blank">Github</a></p>
        <p><i class="icon-adjust"></i>&nbsp;@Model.TimeZone.DisplayName</p>
        <p><i class="icon-globe"></i>&nbsp;@Model.City</p>
      </div>
      <div class="span9">

        <ul class="tabs">
          <li><a class="active" href="#"><i class="icon-user"></i>Profile</a></li>
        </ul>
        <ul class="tabs-content">
          <li class="active">
            <section>

              <h2>User Settings</h2>
              <p>Update your settings below to improve your profile so that developers on the platform can easily connect with you.</p>
              <form class="form-horizontal" method="post">

                <div class="control-group">
                  <label class="control-label" for="inputTwitter">Twitter</label>
                  <div class="controls">
                    @Html.TextBoxFor(u => u.TwitterHandle, Model.TwitterHandle, new { @class = "span4", placeholder = "Enter your Twitter handle" })
                  </div>
                  <hr />
                  <div class="controls">
                    <button class="m-btn green" type="submit">Update &nbsp;<i class="m-icon-swapright m-icon-white"></i></button>
                  </div>
                </div>
              </form>
              @*

              <div class="control-group">
                <label class="control-label" for="inputUsername">CodeStorm Alias</label>
                <div class="controls">@Model.AbcHandle
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputEmailAddress">Email</label>
                <div class="controls">@Model.Email
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputGithub">Github</label>
                <div class="controls">@Model.GitHubHandle
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputGithub">Name</label>
                <div class="controls">@Model.UserName
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputGithub">Word</label>
                <div class="controls">@Model.Word
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputTimezone">Time Zone</label>
                <div class="controls">
                  @Model.TimeZone.DisplayName
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputLocation">Location</label>
                <div class="controls">@Model.City
                </div>
              </div>*@
            </section>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
